{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Réservation</h2>
            <h3 class="littleTitle">Suite</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>

<div class="customFormpic2">
    {{ form_start(form) }}
        {{ form_row(form.start_date) }}
        {{ form_row(form.end_date) }}
        {{ form_row(form.suite) }}

    {{ form_row(form.submit, { 'label': 'Envoyer'}) }}
    {{ form_end(form) }}

</div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('datepicker') }}
{% endblock %}