{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Changement mot de passe</h2>
            <h3 class="littleTitle">Manager</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>

    <div class="customChangePassword">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.plainPassword) }}

        {{ form_row(form.submit, { 'label' : 'Envoyer '}) }}
        {{ form_end(form) }}
    </div>


{% endblock %}
