{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Changement mot de passe</h2>
            <h3 class="littleTitle">Manager</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    <div class="customChangePasswordBack">
        <div class="formCustomChangePass"></div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.plainPassword) }}
        <div class="formSubmit" onClick="showConfirm()">
            {{ form_row(form.submit, { 'label': 'Envoyer'}) }}
        </div>
        {{ form_end(form) }}
    </div>
    <div class="buttonAdterForm" style="margin-left: 60%; margin-bottom: 10%;">
        <button type="button" class="buttonAcceuil">
            <a href="{{ path('app_manager_gestion', { 'id' : app.user.id}) }}">
                Retour au compte
            </a>
        </button>
    </div>
{% endblock %}
