{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <br>
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Ajout D'image</h2>
            <h3 class="littleTitle">Suite</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    <div class="customFormPic">
        <div class="customFormBars">
            {{ form_start(form) }}
            {{ form_errors(form) }}
                {{ form_row(form.pic_one) }}
                {{ form_row(form.pic_two) }}
                {{ form_row(form.pic_three) }}

            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
