{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <br>
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Rejoignez-nous</h2>
            <h3 class="littleTitle">Enregistrement</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    <div class="customFormPic">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.firstName) }}
                {{ form_row(registrationForm.lastName) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms, { 'label' : 'Conditions générales '}) }}
        {{ form_end(registrationForm) }}
        <button
                type="button"
                class="buttonSendForm"
                style="margin-left: 48%;"
                                        >
            <a href="{{ path('app_login') }}">
                Déjà Inscrit?
            </a>
        </button>
    </div>
{% endblock %}