{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Création Suite</h2>
            <h3 class="littleTitle">Manager</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    <div class="customFormpic2">
        {{ form_start(form) }}
        {{ form_errors(form) }}
            {{ form_row(form.name, { 'label' : 'Nom de la suite: '}) }}
            {{ form_row(form.price, { 'label' : 'Prix: '}) }}
            {{ form_row(form.description, { 'label' : 'Descritpion/Atouts: '}) }}
            {{ form_row(form.picture, { 'label' : 'Image principale: '}) }}
            {{ form_row(form.hotel, { 'label' : 'Hotel possédant la suite: '}) }}
        {{ form_row(form.submit, { 'label' : 'Envoyer'}) }}
        {{ form_row(form._token) }}
    </div>
{% endblock %}

