{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <br>
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Création d'Hotel</h2>
            <h3 class="littleTitle">Admin</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    <div class="customFormPic">
        <div class="customFormBars">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.city) }}
            {{ form_row(form.adress) }}
            {{ form_row(form.description) }}
            {{ form_row(form.image) }}
            <button type="submit" class="btn">Register</button>
            <button type="button" class="btn">
                <a href="{{ path('app_login') }}">
                    Déjàs inscrit ?
                </a>
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
