{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

<!-- Accueil -->
    <div class="accueil">
        <div class="titleHypnos">
            <!-- Back via SCSS -->
            <h1>Hypnos</h1>
            <h2 class="title">Voyagez,<br>ensemble.</h2>
        </div>
    </div>
<!-- Liste chambres -->
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Qui sommes-nous?</h2>
            <h3 class="littleTitle">Présentation</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    <section class="presentation">
        <button type="button" class="buttonAcceuil">
            <a href="{{ path('app_liste_etablissement') }}">
                Nos Hotels
            </a>
        </button>
        <p>Hypnos est un groupe hôtelier fondé en 2004. Propriétaire de <b>7 établissements</b> dans les quatre
            coins de l’hexagone, chacun de ces hôtels s’avère être une destination idéale pour les couples
            en quête d’un séjour romantique.
        </p>
    </section>
<!-- Inscription -->
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Nous rejoindre</h2>
            <h3 class="littleTitle">Inscription</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    <section class="presentation">
        <p>
            Vous souhaitez faire parti de l'aventure Hypnos? Il suffit de vous inscrire! <br>
            Nos services techniques s'assurent de la protection de vos données, puis les paiement
            se font directement à l'accueil de votre hotel.
        </p>
        <button type="button" class="buttonAcceuil">
            <a href="{{ path('app_register') }}">
                Inscription
            </a>
        </button>
    </section>
<!-- Carousel -->
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Quelques hotels</h2>
            <h3 class="littleTitle">Liste</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
<div class="backPic">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="{{ asset('picture/recipe-picture/hotel-1-631efab72e091.jpg') }}" class="d-block w-100" alt="Image Hotel1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Hotel Bon'Appart</h5>
                    <p>123 Avenue du Putsch, Paris.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{{ asset('picture/recipe-picture/hotel-2-631efdedc076b.jpg') }}" class="d-block w-100" alt="Image Hotel2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Hotel Maritime</h5>
                    <p>23 Avenue du Vieux-Port, Marseille.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('picture/recipe-picture/hotel-3-631eff34aab5f.jpg') }}" class="d-block w-100" alt="Image Hotel3">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Hotel Le Petit Moulin</h5>
                    <p>15 Rue de la Mélancolie, Privas.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<!-- Formulaire de contact -->
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Nous contacter</h2>
            <h3 class="littleTitle">Formulaire</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    <section class="presentation">
        <button type="button" class="buttonAcceuil">
            <a href="{{ path('app_contact_us') }}">Contact</a>
        </button>
        <p> Vous souhaitez en savoir plus? Nos équipes sont là pour vous répondre! <br>
            Il vous est mis à disposition un formulaire de contact, qui sera directement traité par notre service administratif.
            Une réponse vous sera alors retourné dans les plus brefs délais.
        </p>
    </section><br><br><br>
<!-- Politique de confidentialitée -->
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Protection des données</h2>
            <h3 class="littleTitle">Information</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    <div class="ment-pol">
        <button type="button" class="buttonAcceuil">
            <a href="{{ path('app_mention') }}">Mentions légales</a>
        </button>
        <button type="button" class="buttonAcceuil">
            <a href="{{ path('app_pol') }}">Pol. Confidentialitée</a>
        </button>
    </div>
{% endblock %}
