
<div class="customListe">
    <div class="customListeSuiteDesc">
        <h4> •{{ this.suite.name }}</h4>
        <h5><b>Hotel</b> :</h5>
        <p>
            {{ this.suite.hotel }}
        </p>
        <h5><b>Prix</b> :</h5>
        <p>
            {{ this.suite.price }}€/Nuit
        </p>
        <h5><b>Description</b> :</h5>
        <p>
            {{ this.suite.description |u.truncate(100) }}
        </p>
    </div>
    <div class="customListeSuitePicButton">
        <img class="" src="{{ asset('picture/recipe-picture/' ~ this.suite.getPicture()) }}" alt="Image de l'hotel">
    </div>
</div>
<div class="listButtons">
    {% if app.user %}
        <button type="button" class="buttonAcceuil">
            <a
                    href="{{ path('app_booking') }}"
                    class="card-link">
                Réserver
            </a>
        </button>
    {% else %}
        <button type="button" class="buttonAcceuil">
            <a
                    href="{{ path('app_redirect_booking') }}"
                    class="card-link">
                Réserver
            </a>
        </button>
    {% endif %}
    <button type="button" class="buttonAcceuil">
        <a
                href="{{ path('app_suite', { 'id' : this.suite.id}) }}"
                class="card-link">
            Accès à la suite
        </a>
    </button>
</div><br>
<div class="barreHorizontaleTwo"></div>
