{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<!-- Présentation -->
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Administrateur</h2>
            <h3 class="littleTitle">Gestion</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
<div class="gestion">
    <div class="responsiveGestion">
        <div class="gestionPres">
            <div class="gestionPresList">
                <ul>
                    <li><b>Votre prénom :</b> {{ admin.firstName }}</li>
                    <li><b>Votre nom :</b> {{ admin.lastName }}</li>
                    <li><b>Votre mail :</b> {{ admin.email }}</li>
                </ul>
            </div>
            <div class="gestionPresP">
                <p>Le terme « administrateur de site » désigne communément celui qui est chargé d'un site. Il gère tout, ou une partie, des domaines de la
                    conception du site et sa mise en place technique (parfois la mission éditoriale) est comprise dans ses fonctions. Il gère au jour le jour la
                    technique et met à jour le contenu.</p>
            </div>
        </div>
    </div>

    <!-- Hotel/ManagerLiaison -->
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Hotel/Manager</h2>
            <h3 class="littleTitle">Organisation</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>

<!-- Table Manager Hotel -->
    <div class="gestionAdminTableHotelManager">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Prénom Manager</th>
                <th scope="col">Hotel attribué</th>
            </tr>
            </thead>
            <tbody>
        {% for managers in manager %}
            <tr>
                <th scope="row">{{ managers.email }}</th>
                <td>{{ managers.firstName }}</td>
                <td>{{ managers.hotel.name }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="barreHorizontaleTwo"></div>
<!-- Manager creation/ update /remove -->
    <div class="responsiveGestion">

        <div class="gestionAdmingestionHotel">
            <div class="gestionAdmingestionHotelExplain">
                <h4>Gestion Managers</h4>
                <p>Il vous sera permis, dans cette section, de gérer les différents manageurs faisant parti de votre entreprise. Vous pourrez en assigner un au
                    bâtiment de votre choix, pour qu'il puisse à son tour créer et administrer les différentes suites que compose l'hôtel.
                </p>
            </div>
            <div class="gestionAdmingestionHotelButtons">
                <button type="button" class="buttonSendForm"><a href="{{ path('app_manager_create') }}">Création Manager</a></button>
            </div>
        </div>
        <div class="gestionAdminTableManagerUpdate">
                <table class="table table2">
                    <tbody>
                    {% for managers in manager %}
                    <tr>
                        <th scope="row" class="emails">{{ managers.email }}</th>
                        <th scope="row">
                            <button type="button" class="buttonSendForm">
                                <a href="{{ path('app_update_manager', { 'id' : managers.id}) }}">
                                    Mettre à jour
                                </a>
                            </button>
                        </th>
                        <th scope="row">
                            <button type="button" class="buttonSendForm">
                                <a href="{{ path('app_admin_gestion_remove_manager', { 'id' : managers.id}) }}" onclick="return confirm('Etes vous sûre de supprimer ce manager?  ')">
                                    Supprimer
                                </a>
                            </button>
                        </th>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div><br>
        <div class="barreHorizontaleTwo"></div>
    <!-- Hotel gestion -->
        <div class="gestionAdmingestionHotel">
            <div class="gestionAdmingestionHotelButtons">
                <button type="button" class="buttonSendForm"><a href="{{ path('app_hotel_create') }}">Création Hotel</a></button>
            </div>
            <div class="gestionAdmingestionHotelExplain">
                <h4>Gestion Hotel</h4>
                <p>Il vous sera permis, dans cette section, de créer les différents hotels que compose votre entreprise. Vous pourrez modifier leurs informations
                    En cas de besoin, puis un manager (précédemment créé) pourra y insérer les différentes suites constituant l'hotel en question.
                </p>
            </div>
        </div>
        <div class="gestionAdminTableManagerUpdate">
            <table class="table">
                <tbody>
                {% for hotellists in hotelList %}
                    <tr>
                        <th scope="row" class="emails">{{ hotellists.name }}</th>
                        <th scope="row">
                            <button type="button" class="buttonSendForm">
                                <a href="{{ path('app_update_hotel', { 'id' : hotellists.id}) }}">
                                    Mettre à jour
                                </a>
                            </button>
                        </th>
                        <th scope="row">
                            <button type="button" class="buttonSendForm" onClick="showConfirm()">
                                <a href="{{ path('app_admin_gestion_hotel_remove', { 'id' : hotellists.id}) }}">
                                    Supprimer
                                </a>
                            </button>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><br>
    </div>
<!-- ListeContactUs -->
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Formulaires reçus</h2>
            <h3 class="littleTitle">Contact</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    {% if contact == null %}
        <div class="successTwo m-0 align-items-center">
            <div class="explainSuccess">
                <h2>Aucune demande de contact.</h2>
                <p>Vous n'avez aucun formulaire recu pour l'instant. <br></p>
            </div>
            <div class="buttonSuccess">
                <button type="button" class="buttonAcceuil"><a href="{{ path('app_home') }}">Retour Acceuil</a></button>
            </div>
        </div>
    {% else %}
        <div class="backTable">
            {% for c in contact %}
                <div class="backAdminTable">

                    <h4>De : {{ c.email }}</h4>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td ><b>Nom</b></td>
                            <td>{{ c.first_name }}</td>
                        </tr>
                        <tr>
                            <td><b>Prénom</b></td>
                            <td>{{ c.last_name }}</td>
                        </tr>
                        <tr>
                            <td><b>Raison</b></td>
                            {% if c.reason == 0 %}
                                <td>Je souhaite poser une réclamation</td>
                            {% elseif c.reason == 1 %}
                                <td>Je souhaite commander un service supplémentaire</td>

                            {% elseif c.reason == 2 %}
                                <td>Je souhaite en savoir plus sur une suite</td>

                            {% elseif c.reason == 3 %}
                                <td>J'ai un souci avec cette application</td>

                            {% endif %}
                                </tr>
                        <tr>
                            <td><b>Description</b></td>
                            <td>{{ c.content }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="buttonAcceuil">
                        <a href="{{ path('delete_form', {'id': c.id}) }}" onclick="return confirm('Etes vous sûre de supprimer ce formulaire de contact?  ')">
                            Supprimer
                        </a>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}

