{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Utilisateur</h2>
            <h3 class="littleTitle">Gestion</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
<div class="gestion">
    <div class="responsiveGestion">
        <div class="gestionPres">
            <div class="gestionPresList">
                <ul>
                    <li><b>Votre prénom :</b> {{ utilisateur.firstName }}</li>
                    <li><b>Votre nom :</b> {{ utilisateur.lastName }}</li>
                    <li><b>Votre mail :</b> {{ utilisateur.email }}</li>
                </ul>
            </div>
            <div class="gestionPresP">
                <p>En tant qu'<b>Utilisateur</b>, il vous est permis de parcourir les listes des hotels et suites mis à votre disposition.
                    Vous pourrez, à partir de ces pages, réserver une où plusieurs suites, à des dates précises.</p>
            </div>
        </div>
    </div>
<!-- Suites réservées -->
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Réservations futures</h2>
            <h3 class="littleTitle">Suite</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    <div class="responsiveGestion">
        <div class="gestionManagerHotel">
            <p>Vous pouvez Annuler une réservation au maximumb  <b>72 Heures</b> avant la date d'échéance. Au dela, il faudra contacter le service
                Administratif afin de trouver une solution!</p>
            <img
                    src="{{ asset('picture/banque-image/logo-icones/bed.png') }}"
                    alt="Image de gesion manager"
            >
        </div>
    </div>
    <div class="gestionUserTableHotel">
<!-- Projection -->
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Suite</th>
                <th scope="col">Fait le</th>
                <th scope="col">Date début</th>
                <th scope="col">Date fin</th>
                <th scope="col"> Annuler</th>
            </tr>
            </thead>
            <tbody>
                {% for bookings in booking %}
                    {% if utilisateur.id == bookings.client.id %}
                    {% if bookings.isActive == 1  %}
                    <tr>
                        <th scope="row">{{ bookings.suite }}</th>
                        <td>{{ bookings.didAt|date('d-m-Y') }}</td>
                        <td>{{ bookings.startDate|date('d-m-Y') }}</td>
                        <td>{{ bookings.endDate|date('d-m-Y') }}</td>
                        <td>
  <!-- Change button ISACTIVE  = 0 -->
                            <button type="button" class="buttonSendForm">
                                <a href="{{ path('app_update_booking', { 'id' : bookings.id}) }}">
                                    Modifier
                                </a>
                            </button>
                        </td>
                    </tr>
                    {% endif %}
                    {% endif %}
                {% endfor %}

            </tbody>
        </table>
    </div>
<!-- Projection fin -->
    <div class="barreHorizontaleTwo"></div>
<!-- Suites passées -->
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Réservations annulées</h2>
            <h3 class="littleTitle">Suite</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    <div class="responsiveGestion">
        <div class="gestionManagerHotel">
            <img
                    src="{{ asset('picture/banque-image/logo-icones/logo-calendar.png') }}"
                    alt="Image de gesion manager"
            >
            <p>Ci-dessous, vous pouvez voir toutes les réservations qui ont annulées.</p>

        </div>
    </div>
    <!-- Projection -->
    <div class="gestionUserTableHotel" >

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Suite</th>
            <th scope="col">Fait le</th>
            <th scope="col">Date début</th>
            <th scope="col">Date fin</th>
            <th scope="col"> Supprimer</th>
        </tr>
        </thead>
        <tbody>

        {% for bookings in booking %}
        {% if utilisateur.id == bookings.client.id %}
        {% if bookings.isActive == 0  %}
        <tr>
            <th scope="row">{{ bookings.suite }}</th>
            <td>{{ bookings.didAt|date('d-m-Y') }}</td>
            <td>{{ bookings.startDate|date('d-m-Y') }}</td>
            <td>{{ bookings.endDate|date('d-m-Y') }}</td>
            <td>
                <button type="button" class="buttonSendForm">
                    <a href="{{ path('delete_form_booking', { 'id' : bookings.id}) }}" onclick="return confirm('Etes vous sûre de supprimer ce voyage?  ')">
                        Supprimer
                    </a>
                </button>
            </td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
    <!-- Projection fin -->


</div>
{% endblock %}
